:root{
    --acent:#019B9E;
    --gray:#3F444B;
    --darkgray: #20262D;
    --light-gray:#F1F3F5;
    --white: #fff; 
}
html{
    scroll-behavior: smooth;
}
nav{
    position: sticky;
    top: 0;
    z-index: 99999;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/*---- COMPONENTS ----*/
.mw16{
    max-width: 1600px;
    margin: 0 auto;
}
.btn_primary{
    background-color: var(--acent);
    color: var(--white);
    text-decoration: none;
    transition: .3s ease;
    cursor: pointer;
}
.btn_primary:hover{
    background-color: #037f81;
}
.btn_outline{
    color: var(--white);
    border: 2px solid var(--acent);
    text-decoration: none;
    border-radius: .2rem;
    transition: ease-in .3s;
    
}
.btn_outline:hover{
    box-shadow: inset 0 0 0 2em var(--acent);
    color: var(--white);
    border: 2px solid var(--acent);
}
.btn_gray{
    color: var(--white);
    background-color: var(--gray);
    text-decoration: none;
    border-radius: .2rem;
}
.btn_waze{
    background-color: #2D3741;
    color: var(--white);
    text-decoration: none;
    border-radius: .2rem;
    transition: .2s ease-in;
}
.btn_waze:hover{
    transform: scale(1.1);
    box-shadow: 4px 12px 32px 0 rgba(0,0,0,0.12);

}
.btn_google:hover{
    transform: scale(1.1);
    box-shadow: 4px 12px 32px 0 rgba(0,0,0,0.12);

}
.btn_google{
    background-color: var(--white);
    color:var(--darkgray);
    text-decoration: none;
    border-radius: .2rem;
    transition: .2s ease-in;
}
.link_secondary{
    color: var(--darkgray);
    text-decoration: none;
}
.link_acent{
    color: var(--acent);
    text-decoration: none;
    transition: .2s ease;
}
.link_acent:hover{
    text-decoration: underline;
}
.acent{
    color: var(--acent);
}
/*---- END COMPONENTS ----*/
body{
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smooth:antialiased;
    background-color: #2F3E4D;
}
nav{
    background-image: linear-gradient(267deg, #283037 0%, #191D21 74%);
}
nav ul li a{
    color: var(--white);
    text-decoration: none;
}
.alcala_main{
    background-image: url('/assets/images/alcala-main-bg.webp');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #283037;
    color: var(--white);
    min-height: 75vh;
}
.alcala_main h1 {
    color: var(--acent);
}
.whatsapp_float_btn{
    background-color: #25D266;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: fixed;
    text-align: center;
    right: 1rem;
    top: 24%;
    z-index: 999;
    transition: .2s ease;
}
.whatsapp_float_btn:hover{
    transform: scale(1.2);
}
.whatsapp_float_btn img {
    margin-top: 22%;

}

.play_btn{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 80px;
    right:320px;
    transition: .3s ease-in
}
.play_btn:hover{
    transform: scale(1.2);
}
.alcala_amenities{
    background-image: linear-gradient(265deg, #283037 0%, #191D21 93%);
    color: var(--white);
}
.horizontal_overflow_wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
.amenitie_card{
    min-width: 250px;
    height: 470px;
    border-radius: .3rem;
    background-color: #283037;
    position: relative;
}
.amenitie_card > img{
    object-fit: cover;
    object-position: top;
    border-radius: .2rem;
    width: 100%;
    height: 100%;
}
.amenitie_content{
    bottom: 1rem;
    position: absolute;
    z-index: 3;
    text-align: center;
    width: 100%;
}
.gallery{
    background-color: var(--white);
}
.gradient_mask{
    position: absolute;
    z-index:2;
    background-image: linear-gradient(180deg, rgba(32,66,94,0.00) 16%, #1F262D 100%);
    width: 100%;
    height: 100%;
}
.gallery_wrapper{
     position: relative;
}
.gallery_content{
    width: 360px;
    background-color: var(--white);
    position: absolute;
    left: 4rem;
    top: 3rem;
    z-index: 20;
}
.gallery_mask{
    width: 950px;
    height: 550px;
    background-color: #283037;
}
.my-slider-progress {
    background: #ccc;
  }
  
  .my-slider-progress-bar {
    background: greenyellow;
    height: 2px;
    transition: width 400ms ease;
    width: 0;
  }
.models{
    background-color: var(--white);
}
/* Style the tab */
.tab_wrapper {
    overflow: hidden;
    box-shadow: 4px 12px 32px 0 rgba(0,0,0,0.12);
    background-color: #fff;
    width: auto;

  }
  
  /* Style the buttons inside the tab */
  .tab_wrapper button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 3px solid var(--white);
  }
  
  /* Change background color of buttons on hover */
  .tab_wrapper button:hover {
    border-bottom: 3px solid var(--acent);
    color: rgba(25, 29, 33, 0.645);
  }
  
  /* Create an active/current tablink class */
  .tab_wrapper button.active {
    border-bottom: 3px solid var(--acent);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }
  @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
.model_info_wrapper{
    background-color: var(--darkgray);
    color: white; 
}
.general_specs {
    border-bottom: 1px solid #2F3E4D;
}
.promos{
    background-color: var(--darkgray);
    color: var(--white);
}
.promo_mask{
    width: 915px;
    height: 435px;
    border-radius: .5rem;
    background-color: #2F3E4D;

}
.promo_mask > img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;

}
.contact{
    background-color: var(--light-gray);
    color: var(--darkgray);
}
.location-btn{
    position: absolute;
    top: 38%;
    right: 45%;
    z-index: 90;
}
.label{
    background-color: var(--acent);
    clip-path: polygon(95% 0%, 100% 48%, 95% 100%, 0 100%, 10% 49%, 0 0);
    color: var()--white;
}
.mapbox{
width: 100%;
height: 400px;
position: relative;
border-radius: 1rem;
}

.form_card{
    background-color: #fff;
}
.form_card input{
    border: 2px solid #E2E2E2;
    border-radius: .2rem;
    background-color: var(--white);
}
.form_card form {
    margin: 0 auto;
    width: 100%;
}
.form_card label{
    font-size: 16px;
    display: block;
    color: #7B7B7B;
    font-weight: 600;
    margin-bottom: .375rem;
}
.submit_btn {
    outline: none;
    border: none;
}
footer{
    background-color: #2F3E4D;
    color: var(--white);
}
